target/
.idea/
*.csv
*.npy
python/experiments/presentation
python/experiments/hawkes_example
python/experiments/market_orders
python/experiments/agressive_impact
python/experiments/comparative_pricing_models